body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

.navbar {
    background: #111827;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.result {
    margin-top: 15px;
    padding: 15px;
    background: #e0f2fe;
    border-radius: 10px;
}
